.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 31px;
  background-color: #304e49;
  box-shadow: 0 0 10px 0px black;
  padding: 28px;
  height: 465px;
}
